<nav class="navbar navbar-expand-lg navbar-dark bg-dark">

  <div class="container-fluid">

    <a
      class="navbar-brand"
      routerLink="/vehicules">

      Gestion Location

    </a>

    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNav">

      <span class="navbar-toggler-icon"></span>

    </button>

    <div
      class="collapse navbar-collapse"
      id="navbarNav">

      <ul
        class="navbar-nav me-auto"
        *ngIf="isAuthenticated()">

        <li class="nav-item">

          <a
            class="nav-link"
            routerLink="/vehicules"
            routerLinkActive="active">

            Vehicules

          </a>

        </li>

        <li class="nav-item">

          <a
            class="nav-link"
            routerLink="/agences"
            routerLinkActive="active">

            Agences

          </a>

        </li>

        <li
          class="nav-item"
          *ngIf="canManage()">

          <a
            class="nav-link"
            routerLink="/locations"
            routerLinkActive="active">

            Locations

          </a>

        </li>

      </ul>

      <div class="d-flex align-items-center gap-2 ms-auto">

        <ng-container *ngIf="isAuthenticated(); else loginLink">

          <span class="navbar-text small">
            {{ username() }} - {{ role() }}
          </span>

          <button
            class="btn btn-outline-light btn-sm"
            type="button"
            (click)="logout()">

            Logout

          </button>

        </ng-container>

        <ng-template #loginLink>

          <a
            class="btn btn-outline-light btn-sm"
            routerLink="/login">

            Login

          </a>

        </ng-template>

      </div>

    </div>

  </div>

</nav>
