<div class="container mt-4">

  <div class="d-flex justify-content-between mb-3">

    <h2>Liste des Véhicules</h2>

    <button
      *ngIf="canCreateVehicule()"
      class="btn btn-primary"
      routerLink="/add-vehicule">

      Add Vehicule

    </button>
  </div>

  <table class="table table-bordered table-hover">

    <thead class="table-dark">

    <tr>
      <th>ID</th>
      <th>Marque</th>
      <th>Modele</th>
      <th>Prix</th>
      <th>Statut</th>
      <th>Type</th>
      <th *ngIf="canDeleteVehicule()">Action</th>
    </tr>

    </thead>

    <tbody>
      @for (v of vehicules; track v.marque) {
        <tr>
          <td>{{ v.id }}</td>

          <td>{{ v.marque }}</td>

          <td>{{ v.modele }}</td>

          <td>{{ v.prixParJour }}</td>

          <td>{{ v.statut }}</td>

          <td>{{ v.typeVehicule }}</td>

          <td *ngIf="canDeleteVehicule()">

            <button
              class="btn btn-danger btn-sm"
              (click)="deleteVehicule(v.id)">

              Delete

            </button>

          </td>
        </tr>
      }


    </tbody>

  </table>

</div>
